.grid-home {
  height: 20vh;
  align-items: center;
  justify-content: center;
  margin: 100px auto;
  text-align: center;
}

@media screen and (max-width: 768px) {
  .grid-home {
    height: 40vh !important;
    padding: 20px;
  }
}

::-webkit-input-placeholder {
  /* Edge */
  color: #fff !important;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #fff !important;
}

::placeholder {
  color: #fff !important;
}
