.grid-home {
  height: 100vh;
  align-items: center;
  justify-content: center;
  margin: 100px auto;
  text-align: center;
}

::-webkit-input-placeholder {
  /* Edge */
  color: #fff !important;
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: #fff !important;
}

::placeholder {
  color: #fff !important;
}
