@media (min-width: 960px) {
  .materials-list-grid {
    overflow: auto;
    /* height: 87vh; */
    top: 40px !important;
    position: relative;
  }
}

.sidebar-custom-category {
  max-width: 100%;
}

.home_page_explore .MuiButtonBase-root-395 {
  padding: 0 !important;
}

.home_page_explore .MuiExpansionPanelSummary-expandIcon-394 {
  right: 0px !important;
  padding: 0 !important;
}

.home_page_explore .MuiFormControlLabel-root-418 {
  margin: 0 !important;
  padding: 10px 0;
}

.home_page_explore .MuiIconButton-root-398 {
  padding-left: 0 !important;
}

.home_page_explore > div {
  align-items: flex-start;
}

.home_page_explore .sidebar-custom-wrapper {
  border: 1px solid #002713;
  border-radius: 12px;
  padding: 10px 20px !important;
}

@media screen and (min-width: 1024px) {
  .home_page_explore .sidebar-custom-wrapper {
    margin-top: 25px;
  }
}

@media screen and (max-width: 768px) {
  .home_page_explore .sidebar-custom-wrapper {
    max-width: 80%;
    margin: 0 auto;
  }
}

.home_page_explore .sidebar-custom-wrapper * {
  box-shadow: none !important;
}

.home_page_explore .sidebar-custom-category > h5 {
  display: none;
}
