@media (min-width: 960px) {
  .materials-list-grid {
    overflow: auto;
    /* height: 87vh; */
    top: 40px !important;
    position: relative;
  }
}

.home_page_explore .sidebar-custom-wrapper {
  border: 1px solid #002713;
  border-radius: 12px;
  padding: 20px;
}

.home_page_explore .sidebar-custom-wrapper * {
  box-shadow: none !important;
}

.home_page_explore .sidebar-custom-category > h5 {
  display: none;
}
