@media (max-width: 959px)
{
  .material-card-loop{
  	flex-grow: 0;
    max-width: 100% !important;
    flex-basis: 100% !important;
  }
}

@media (min-width: 960px)
{
  .material-card-loop{
  	flex-grow: 0;
    max-width: 50% !important;
    flex-basis: 50% !important;
  }
}