

.menu-appbar .menu-link {
  padding: 10px;
  width: 100%;
  text-decoration: 'none';
  color: 'black';
}

.menu-appbar .navbar-link {
  padding: 10px;
  width: 100%;
  text-decoration: 'none';
  color: 'black';
  margin: 0 !important;
}
