/* width fixo, margin 0 auto */
.content {
  margin: 0 auto;
  margin-top: 24px;
  width: 272px;
}

@media (min-width: 600px) {
  .content {
    width: 552px;
  }
}

@media (min-width: 960px) {
  .content {
    margin-top: 48px;
    width: 912px;
  }
}

@media (min-width: 1920px) {
  .content {
    margin-top: 64px;
  }
}
